<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buttons</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="container mt-5">
    <p class="text-center mt-3">button button--dark</p>
    <a href="#" class="button button--dark">
        Войти
    </a>
    <p class="text-center mt-3">button button--default</p>
    <a href="#" class="button button--default">
        В каталог
    </a>
    <p class="text-center mt-3">button button--primary</p>
    <a href="#" class="button button--primary">
        Отправить
    </a>
    <p class="text-center mt-3">button button--grey</p>
    <a href="#" class="button button--grey">
        Отмена
    </a>
    <p>button--like</p>
    <button class="button--like"></button>
</div>

</body>
</html>